// Global default params, used in configs

process {
   cpus = 2
   memory = 1. GB
   
}

params {

  // Default workflow parameters
  input = "example/*.tex"
  help = null
  macos = null
}  


// Create profiles
profiles {
  conda { 
    process.conda = "$baseDir/environment.yml" 
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
    process.container = "file://data/singularity-latex-nml.sif"
  }
  standard{
    process.container = "file://data/singularity-latex-nml.sif"
  }

}  